
<div class="container-fluid" id="belowNav">
  <div class="row">
    <div class="center-me">

      <span class="crop">
        <img class="profile" src=<%= current_user.image %> alt="">
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h3 class="profileName"><%= current_user.name %></h3>
      <a href="https://twitter.com/"<%= current_user.username %> >
        <img id="twitter" src="https://upload.wikimedia.org/wikipedia/en/9/9f/Twitter_bird_logo_2012.svg" alt="">
      </a>
    </div>
  </div>
<div class="row">
    <div class=" col-xs-12 col-sm-12 col-md-12">
        <h3 class="profileLocation"><%= current_user.location %></h3>
    </div>
</div>
  <div class="row" id="countdown">
    <div class="col-xs-6 col-sm-6 col-md-6 boxOne">
    <h6>Campaign Contributed:</h6>
    <% if current_user.donations.length == 1 %>
        <h1><%= number_to_currency(@donations.amount) %></h1>
    <% elsif current_user.donations.length > 1 %>
      <% @donations.each do |donation| %>
        <h1><%= number_to_currency(donation[:amount]) %></h1>
      <% end %>
    <% else %>
    <h1> 0 </h1>
    <% end %>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 boxTwo">
     <h6>Amount Donated so far:</h6>
     <% if current_user.donations != [] %>
      <h1><%= number_to_currency(@total_donation) %></h1>
      <% else %>
      <h1>$0.00</h1>
      <% end %>
    </div>
  <div class="row donationsHistory">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h3 class="donationHistory">Donation History:</h3>
    </div>
  </div>
  <div class="box">
          <% if current_user.donations == 1 %>
            <table class="donationTable">
              <tr>
                <th>Donation Amount</th
                <th>Campaign</th>
              </tr>
              <tr>
                <td><a href="/campaigns/<%= @donations.campaign_id %>">Campaign</a></td>
                <td><%= number_to_currency(@donations.amount) %></td>
              </tr>
            </table>
          <% elsif current_user.donations.length > 1 %>
            <% @donations.each do |donation| %>
              <table class="donationTable">
                <tr>
                  <th>Campaigns</th>
                  <th>Donation Amount</th>
                </tr>
                <tr>
                  <td><a href="/campaigns/<%= donation[:campaign_id] %>">Campaign</a></td>
                  <td><%= number_to_currency(donation[:amount]) %></td>
                </tr>
              </table>
            <% end %>
            <% else %>
            <p class="space">Looks like you haven't contributed. </p>
            <h3 class="donationHistory">Be sure to check out our current
            <%= link_to "CAMPAIGNS", campaigns_path %></h3>
        <% end %>


    </div>
  </div>

