<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.collection_select :location, City.all, :id, :city, :prompt => "Select City.." %>
  </div>
  <div class="field">
    <%= f.label :special_notes %><br>
    <%= f.text_area :special_notes %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, [["Male", "Male"], ["Female", "Female"], ["Other", "Choose not to Identify"]], {:prompt => 'Select Gender'} %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :goals %><br>
    <%= f.text_field :goals %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
