<p id="notice"><%= notice %></p>

<h1>Current Campaigns</h1>

<table>
  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= link_to campaign.title, campaign %></td>
        <td><%= campaign.deadline_date %></td>
        <td><%= campaign.goal %></td>
        <td><%= campaign.funded %></td>
        <td><%= campaign.current_total %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign', new_campaign_path %>
