<div class="container-fluid">
  <p id="notice"><%= notice %></p>
    <% @campaigns.each do |campaign| %>
    <a href="/campaigns/<%= campaign.id %>" class="campaign-id">
      <div class="campaign-info campaign-index-info">
        <h1 class="campaignCity"><%= campaign.title %></h1>
        <p>Deadline: <%= campaign.deadline_date.strftime("%m/%d/%Y")  %></p>
        <div class="current">
          <h4>Current Total: <%= number_to_currency(campaign.current_total) %> / Campaign Goal: <%= number_to_currency(campaign.goal) %></h4>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:<%= (campaign.current_total / campaign.goal).to_f * 100 %>%"><%= ((campaign.current_total / campaign.goal).to_f * 100).round(2) %>% Funded!
          </div>
        </div>
      </div>
    </a>
  <% end %>
</div>