<!DOCTYPE html>
<html>
<head>
  <title>BananaTree</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://www.simplify.com/commerce/v1/simplify.js' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <%= render "layouts/nav" %>
  <%= render "layouts/messages" %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  
 <button id='digits'>DIGITS</button>

</body>
</html>
